body {
    background-color: blueviolet;
    text-align: center;
    position: relative;
}

ul {
 list-style: none;
}

button {
    font-size: 6em;
    margin-top: 2em;
    margin-left: 50px;
    margin-bottom: 260px;
}

.volte {
    font-size: 20px;
    margin-top: 20px;
}

div {
    text-align: center;
    margin-left: 100px;
    margin-right: 100px;
}

#bad {
    margin-top: 6em;
}